body{
    margin:0;
    padding-top:1000px;
    text-align: center;
}
.profile{
    width: 450px;
    height: 400px;
    margin-bottom:35px;
    border-radius:60%;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 1000px;
    color: crimson;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#219e9a 0% #8b219e 100% );
    width: 100%;
    height: 100%;
    display: table;
}
.parallax-inner{
    text-align: center;
    vertical-align: center;
    position: relative;
    display:table-cell;
}
#bio{
    padding: 50px;
    font-family: fantasy;
    font-size: 45px; 
}